name: Chequeo Semanal de Discrepancias

on:
  schedule:
    # Ejecutar una vez por semana (domingos a las 9 AM UTC)
    - cron: '0 9 * * 0'
  workflow_dispatch:

jobs:
  validar-db:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout código
        uses: actions/checkout@v4
      
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Instalar dependencias
        run: |
          pip install psycopg2-binary pandas requests
      
      - name: Ejecutar Validación
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: python validar_reviews.py > run.log 2>&1

      - name: Subir Log de Validación
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: log-validacion
          path: run.log


      - name: Notificar a Discord
        if: always()
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          python notificador.py --mode validacion --file discord_summary.txt
